NODE_ENV=development
PORT=4000
API_PREFIX=api
API_VERSION=v1

DATABASE_URL=postgresql://postgres:CHANGE_ME@localhost:5432/omni_dev?schema=public

FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000

JWT_ACCESS_SECRET=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
JWT_REFRESH_SECRET=CHANGE_ME_WITH_A_DIFFERENT_LONG_RANDOM_VALUE
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_DOMAIN=

FEDAPAY_ENVIRONMENT=sandbox
FEDAPAY_SECRET_KEY=
FEDAPAY_PUBLIC_KEY=
FEDAPAY_WEBHOOK_SECRET=

OVERPASS_API_URL=https://overpass-api.de/api/interpreter
OSM_CACHE_TTL_SECONDS=300

LOG_LEVEL=debug
SWAGGER_ENABLED=true
